@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

*{
    padding: 0%;
    font-family: 'Catamaran', sans-serif;
}

body{
    background-color: #212529; 
}

h1{
    color: #fff;
    padding-bottom: 5%;
    text-align: center;
    margin-top: 5%;
}

p{
    font-size: 3ch;
}

button{
    padding-top: 5%;
}

tr{
    text-align: center;
}

label {
    font-size: 2ch;
}

.card {
    margin: auto;
    float: none;
    margin-bottom: 10px;
    text-align: center;
    padding: 2%;
}

#main-register{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1%;
}

#btn-iniciar{
    margin-bottom: 5%;
    margin-top: 5%;
}

#separate{
    color: #212529;
}

#buttons-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

#buttons{
    display: flex;
    width: 100%;
    margin-top: 10%;
    gap: 5%;
}

#btn{
    width: 50%;
}

#btn-list{
    width: 20%;
    font-size: 2%;
}

#alert{
    text-align: center;
    margin-top: 5%;
}

#home-button{
    display: flex;
}

#imc-calc{
    margin-top: 10%;
}